html, body {
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	font-size: 1em; /* default: 16px */
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
}

body {
    padding: 0px 10px;
}

.panel-primary {
	margin-top: 50px;
	width: 40%;
}


.btn-primary {
	float: left;
	margin-right: 50px;
}

.control-label {
	white-space: nowrap;
	margin-right: 20px;
}

.col-sm-10 {
	margin-bottom: 30px;
}

#projectPanel {
	float: left;
	width: 40%;
	margin-left: 20px;
}

#compensationPanel {
	float: right;
	width: 40%;
	margin-right: 80px;
}

.createproject{
	float: left;
	width: 50%;
	height: 100%;
}

.createcompensation{
	float: left;
	width: 50%;
	height: 100%;
	background-color: #FAEBD7;

}

.form-group {
	margin-bottom: 20px;
}

#displayCompensation {
	margin-top: 400px;
}

#com {	
	margin-top: 20px;
	word-wrap: break-word;
	width: 100%;
}