<!DOCTYPE html>

<html lang="fr">
	<head>
		<meta charset="UTF-8"></meta>
        
        <title> Tipz </title>

        <script src="{{ asset('./js/client/jquery.js') }}"></script>
        <script src="{{ asset('./js/client/utils.js') }}"></script>
        <script src="{{ asset('./js/client/project.js') }}"></script>

	<script type="text/javascript" src="../../../web/js/client/nicEdit.js">
	</script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{{ asset('./js/client/user.css') }} />
	</head>


	<body>
           <nav class="navbar navbar-default">
            <ul class="nav nav-pills">
                  <li role="presentation"><a href="./index.html">Accueil</a></li>
                  <li role="presentation" class="active"><a href="contreparties.html">Ajouter</a></li>
                  <li role="presentation"><a href="./best.html">Les meilleurs projets</a></li>
                  <li role="presentation"><a href="user.html.twig">S'enregistrer</a></li>
                  <li role="presentation"><a href="./connexion.html">Se connecter</a></li>
            </ul>
        </nav>


        <div class="page_title"><h2>Mon projet</h2></div>

        <div class="page_title" id="projectTitle"></div>
        <div class="panel panel-primary" id="projectPanel">
            <div class="panel-heading">Informations générales</div>
            <div class="panel-body">
                {{ form_start(form, {'action' : path('project'), 'method' : 'POST'}) }}
                 	<div class="form-group">
                 		<label for="projectname" class="col-sm-2 control-label">Nom du projet</label>
                 		<div class="col-sm-10">
                            {{ form_widget(form.name, { 'id': 'projectname', 'attr': {'class': 'form_control', 'name' : 'projectname', 'placeholder' : 'Veuillez rentrez le nom de votre projet', 'onblur' : 'verifName(this)'}}) }}
                 		</div>
                 	</div>
                 	<div class="form-group">
                 		<label for="projectdesc" class="col-sm-2 control-label">Description</label>
                 		<div class="col-sm-10">
                            {{ form_widget(form.description, {'attr': {'class': 'form_control', 'name' : 'projectdescription', 'placeholder' : 'Décrivez votre projet en quelques phrases', 'onblur' : 'verifDesc(this)'}}) }}
                 		</div>
                 	</div>
            		<div class="form-group">
                 		<label for="authorname" class="col-sm-2 control-label">Auteur</label>
                 		<div class="col-sm-10">
                            {{ form_widget(form.author, {'id': 'authorname','attr': {'class': 'form_control', 'name' : 'authorname', 'placeholder' : 'Veuillez indiquer le nom du créateur du projet', 'onblur' : 'verifName(this)'}}) }}
                 		</div>
                 	</div>
                 	<div class="form-group">
                 		<label for="contact" class="col-sm-2 control-label">Contact</label>
                 		<div class="col-sm-10">
                            {{ form_widget(form.contact, {'attr': {'class': 'form_control', 'name' : 'contact', 'placeholder' : 'Veuillez indiquer une adresse mail de contact', 'onblur' : 'verifMail(this)'}}) }}
                 		</div>
                 	</div>
                    <div class="form-group">
                        <label for="image" class="col-sm-2 control-label">Icon du projet</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.image, {'attr': {'class': 'form_control', 'name' : 'image', 'placeholder' : 'Veuillez choisir une image pour votre projet', 'onblur' : 'verifUrl(this)'}}) }}
                        </div>
                    </div>
                    <div class="button">
                        {{ form_widget(form.soumettre, {'attr': {'class' : 'btn btn-primary', 'disabled' : 'disabled'}}) }}
                    </div>
            </div>
        </div>

        <div class="panel panel-primary" id="compensationPanel">
            <div class="panel-heading">Vos contreparties</div>
            <div class="panel-body">
                <form onSubmit="return false;">
                    <div class="form-group">
                        <label for="compensationname" class="col-sm-2 control-label">Nom de la contrepartie</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.name, {'id': 'compensationname', 'attr': {'class': 'form_control', 'name' : 'compensation', 'placeholder' : 'Veuillez rentrez le nom de la contrepartie', 'onblur' : 'verifName(this)'}} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-2 control-label">Valeur (en €/mois)</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.amount, {'attr': {'class': 'form_control', 'name' : 'amount', 'placeholder' : 'Veuillez définir la valeur de la contrepartie', 'onblur' : 'verifAmount(this)'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="compensationdesc" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.description, {'attr': {'class': 'form_control', 'name' : 'compensationdesc', 'placeholder' : 'Décrivez en quelques phrases la contrepartie', 'onblur' : 'verifDescCompensation(this)'}}) }}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="button">
                        <button class="btn btn-primary" id="submitCompensation" disabled='disabled'>Créer la contrepartie</button>
                    </div>
                </form>
                <div id='displayCompensation'></div>
            </div>
        </div>
        {{  form_end(form) }}
	</body>

</html>