<!DOCTYPE html>

    <html lang="fr">
    <!-- Includes -->
    <head>
        <meta charset="UTF-8">
        <script src="../../../web/js/client/jquery.js"></script>
        <link rel="stylesheet" href="../../../web/css/menu.css" type="text/css" />

        <link <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

         <link rel="stylesheet" href="../../../web/css/user.css" type="text/css" />
    </head>
    
    <!-- Body of the menu -->
    <body>
        <nav class="navbar navbar-default">
            <ul class="nav nav-pills">
                  <li role="presentation" class="active"><a href="./index.html">Accueil</a></li>
                  <li role="presentation"><a href="./projet.html">Ajouter</a></li>
                  <li role="presentation"><a href="#menu3">Les meilleurs projets</a></li>
                  <li role="presentation"><a href="user.html.twig">S'enregistrer</a></li>
                  <li role="presentation"><a href="./connexion.html">Se connecter</a></li>
            </ul>
        </nav>
    </body>
</html>