<!DOCTYPE html>

<html lang="fr">
	<head>
		<meta charset="UTF-8"></meta>
        
        <title> Tipz </title>

	<script src="../../../web/js/client/jquery.js"></script>
    <script src="../../../web/js/client/utils.js"></script>
    <script src="../../../web/js/client/socket.js"></script>
	<script src="../../../web/js/client/project.js"></script>
	<script type="text/javascript" src="../../../web/js/client/nicEdit.js">
	</script>
    <link <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="../../../web/css/projet.css" type="text/css" />
	</head>


	<body>
           <nav class="navbar navbar-default">
            <ul class="nav nav-pills">
                  <li role="presentation"><a href="./index.html">Accueil</a></li>
                  <li role="presentation" class="active"><a href="./projet.html">Ajouter</a></li>
                  <li role="presentation"><a href="./best.html">Les meilleurs projets</a></li>
                  <li role="presentation"><a href="user.html.twig">S'enregistrer</a></li>
                  <li role="presentation"><a href="./connexion.html">Se connecter</a></li>
            </ul>
        </nav>


        <div class="page_title"><h2>Mon projet</h2></div>

        <div class="page_title" id="projectTitle"></div>
        <div class="panel panel-primary" id="projectPanel">
            <div class="panel-heading">Informations générales</div>
            <div class="panel-body">
                <form onSubmit="return false;">
                 	<div class="form-group">
                 		<label for="projectname" class="col-sm-2 control-label">Nom du projet</label>
                 		<div class="col-sm-10">
                 			<input id="projectname" type ="text" class="form-control" name="projectname" placeholder="Définissez le nom du projet" required="required" onblur="verifName(this);"/>
                 		</div>
                 	</div>
                 	<div class="form-group">
                 		<label for="projectdesc" class="col-sm-2 control-label">Description</label>
                 		<div class="col-sm-10">
                 			<textarea id="projectdesc" cols="40" class="form-control" onblur="verifDesc(this);" name="projectdesc" placeholder="Décrivez votre projet en quelques phrases"></textarea>
                 		</div>
                 	</div>
            		<div class="form-group">
                 		<label for="authorname" class="col-sm-2 control-label">Auteur</label>
                 		<div class="col-sm-10">
                 			<input id="authorname" type ="text" class="form-control" name="authorname" placeholder="Indiquer le nom de créateur du projet" required="required" onblur="verifName(this)"/>
                 		</div>
                 	</div>
                 	<div class="form-group">
                 		<label for="contact" class="col-sm-2 control-label">Contact</label>
                 		<div class="col-sm-10">
                 			<input id="contact" type ="email" class="form-control" name="contact" placeholder="Indiquer votre adresse mail" required="required" onblur="verifMail(this);"/>
                 		</div>
                 	</div>
                    <div class="form-group">
                        <label for="image" class="col-sm-2 control-label">Icon du projet</label>
                        <div class="col-sm-10">
                            <input id="projectimage" class="form-control" placeholder="Indiquer l'url de l'image que vous souhaitez utiliser" required="required" onblur="verifUrl(this);"/>
                        </div>
                    </div>
                    <div class="button">
                        <button class="btn btn-primary" id="submitProject" disabled='disabled'>Créer le projet</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-primary" id="compensationPanel">
            <div class="panel-heading">Vos contreparties</div>
            <div class="panel-body">
                <form onSubmit="return false;">
                    <div class="form-group">
                        <label for="compensationname" class="col-sm-2 control-label">Nom de la contrepartie</label>
                        <div class="col-sm-10">
                            <input id="compensationname" type ="text" class="form-control" name="compensation" placeholder="Définissez le nom de la contrepartie" required="required" onblur="verifName(this);"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-2 control-label">Valeur (en €/mois)</label>
                        <div class="col-sm-10">
                            <input id="amount" type ="number" class="form-control" name="amount" placeholder="Définissez la valeur de la contrepartie" required="required" onblur="verifAmount(this);"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="compensationdesc" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea id="compensationdesc" cols="40" class="form-control" required="required" name="compensationdesc" onblur="verifDescCompensation(this);" placeholder="Décrivez votre contrepartie en quelques phrases"></textarea>
                        </div>
                    </div>
                    <div class="button">
                        <button class="btn btn-primary" id="submitCompensation" disabled='disabled'>Créer la contrepartie</button>
                    </div>
                </form>
                  <div id='displayCompensation'></div>
            </div>
        </div>
	</body>
</html>